body {
  background: rgba(0, 255, 229, 0.621);
}
h1{
  text-align: center;
}
.btn {
  border: solid 2px #0919aa;
  border-radius: 10px;
  background-color: #0c22e6;
  color: white;
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 40%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover{
  background-color: #0a4ef8;
  color: #000;
}